.titleLogin {
  margin-left: 10rem;
  margin-top: 0.75rem;
  font-weight: 500;
  font-size: 33px;
  line-height: 44px;
  color: #090937;
}

.welcomeText {
  margin-left: 10rem;
  margin-top: 7rem;
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;
  color: rgba(9, 9, 55, 0.6);
}

